html{
  margin: 0;
  padding: 0;
  background-color: rgb(211, 232, 214);
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
#game-container{
  background-color: rgb(126, 150, 222);
  width: 400px;
  height: 300px;
  padding: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

button{
  border: 0;
  background-color: rgb(22, 134, 22);
  color: white;
  font-size: 1.5rem;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(154, 228, 171);
  color: black;
}


input{
  border: none;
  font-size: 1.5rem;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
}

p, h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tries-left{
  margin-bottom: 50px;
}

/*removes spinbox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
